
/*I could have used a class inside header to change the text, but because
I used color, that applies to all text inside of the header. I tested it
and that worked.*/
header {
  /*used a dark green background color*/
  background-color: #006400;
  /*used cornsilk color for the text*/
  color: #FFF8DC;
  /*centered my text*/
  text-align: center
}

main {
  /*found the hex value for light gray*/
  background-color: #D3D3D3;
  /* added the padding */
  padding: 1em;
}

body {
  /*this is a relative path because this is navigating from the stylesheet.css file indicated by ../
  If I used the absolute path, I would have to type out the full path like this: background-image: url("/Users/yasiruddin/Desktop/Tier1/Week5_Homework/prime-pw-week-5-assignment-part-2/assignment/record.png");
  this is starting from the root directory.*/
  background-image: url("../assignment/record.png");
  /*cool to learn images can be repeated on horizontal or vertical axes via repeat-x;, repeat;, space;, round;, no-repeat; and space repeat;
  website: https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat#values */
  background-repeat: space repeat;
   /*added a magin of 0 to the body element */
  margin: 0;
}
